<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               (openedStart)='showTextMenu = !showTextMenu'
               (closedStart)='showTextMenu = !showTextMenu'>
    <mat-toolbar style="background-color: aliceblue" (click)="drawer.toggle()">
      <mat-icon *ngIf="showTextMenu" style="padding: 4px">menu_open</mat-icon>
      <mat-icon *ngIf="!showTextMenu" style="padding: 4px">menu</mat-icon>
      <span *ngIf="showTextMenu">Меню</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/main/main']"><mat-icon mat-list-icon>dashboard</mat-icon><span *ngIf="showTextMenu">Главная</span></a>
      <a mat-list-item [routerLink]="['/main/about']"><mat-icon mat-list-icon>description</mat-icon><span *ngIf="showTextMenu">Описание игры</span></a>
      <a mat-list-item [routerLink]="['/main/remember']"><mat-icon mat-list-icon>school</mat-icon><span *ngIf="showTextMenu">Режим "Обучение"</span></a>
      <a mat-list-item [routerLink]="['/main/game']"><mat-icon mat-list-icon>sports_esports</mat-icon><span *ngIf="showTextMenu">Режим "Freeplay"</span></a>
      <a mat-list-item [routerLink]="['/main/game']"><mat-icon mat-list-icon>star</mat-icon><span *ngIf="showTextMenu">Достижения</span></a>
      <a mat-list-item [routerLink]="['/main/profile']"><mat-icon mat-list-icon>person</mat-icon><span *ngIf="showTextMenu">Профиль</span></a>
      <a mat-list-item (click)="logout()"><mat-icon mat-list-icon>logout</mat-icon><span *ngIf="showTextMenu">Выход</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [style.transition-duration]="showTextMenu ? '500ms' : '0ms'">
    <mat-toolbar color="primary" style="background-color: lightblue">
      <button
        class="nav-menu-sign"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Меню">menu</mat-icon>
      </button>
<!--      <span>Учим английский</span>-->
      <span class="example-spacer"></span>
      <button mat-icon-button [disabled]="true" aria-label="Уведомления">
        <mat-icon matBadge="" matBadgeColor="warn">notifications</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/main/profile']" aria-label="Профиль пользователя">
        <mat-icon matBadge="" matBadgeColor="warn">person</mat-icon>
      </button>
      <button mat-icon-button aria-label="Выход" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Add Content Here -->

    <router-outlet></router-outlet>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
