.sidenav-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidenav {
  width: 210px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.nav-menu-sign {

}

@media screen and (min-width: 768px) {
  mat-sidenav:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 63px !important;
    overflow: hidden;
  }
  mat-sidenav-content:not(.mat-drawer-opened) {
    margin-left: 63px;
  }
  .nav-menu-sign {
    display: none;
  }
}
