<app-navigation></app-navigation>
<div class="login-page">
  <mat-card>
    <div class="mat-headline">Проверьте вашу почту!</div>
    <div class="mat-subheading-2">Пароль для входа и ссылка активации отправлены на указанный при регистрации адрес электронной почты.
      Проверьте вашу почту для входа в личный кабинет...</div>
    <mat-card style="background-color: lightsalmon">
      Если письмо не пришло - проверьте папку "Спам"
    </mat-card>
  </mat-card>
</div>
<app-footer></app-footer>
