.login-page {
  text-align: center;
  max-width: 500px;
  width: 90%;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#controls {
  display: block;
  margin: 0 auto;
  text-align: center;
}

mat-form-field {
  width: 100%;
}
