<div class="centered-window">
  <mat-card>
    <div class="mat-headline">Редактирование профиля:</div>
    <mat-card-content>
      <form [formGroup]="profileForm">
        <div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Новый пароль</mat-label>
              <input #input matInput [type]="hide ? 'password' : 'text'"
                     formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Повторите новый пароль</mat-label>
              <input #input matInput [type]="hide ? 'password' : 'text'"
                     formControlName="confirmPassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint style="color: red" *ngIf="profileForm.hasError('notSame')">Пароли не совпадают</mat-hint>
            </mat-form-field>
          </div>

          <div id="controls" class="row">
            <button [disabled]="profileForm.invalid || (updateData$ | async)" (click)="submit()" mat-flat-button
                    color="primary">Изменить пароль</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>


