.centered-window {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#controls {
  display: block;
  margin: 0 auto;
  text-align: center;
}

mat-form-field {
  width: 100%;
}
