<div class="centered-window">
  <div class="mat-headline" style="margin-bottom: 0">Режим "Обучение"</div>
  <div class="mat-subheading-1">Этап запоминания: слово {{numberOfRememberedWords + 1}}</div>
  <mat-card>
    <div class="tile-main">
      <p class="english-word">{{englishWord}}</p>
    </div>
    <div class="tile-main" style="background-color: beige">
      <p class="translate-word">{{russianWords[this.indexOfRightWord]}}</p>
    </div>
    <button class="tile" (click)="check(indexOfRightWord)" [disabled]="playButtonVisible || countButtonVisible">
      <div style="display: flex; margin: auto">
        <p class="russian-word">Следующее слово</p>
        <mat-icon class="russian-word"><p>arrow_forward_ios</p></mat-icon>
      </div>
    </button>
  </mat-card>
  <div class="mat-headline" style="margin-top: 16px">Время: {{counter}}</div>
</div>
<div class="centered-window">
  <mat-icon *ngIf="playButtonVisible" class="centered-sign" (click)="countDown()">play_circle_outline</mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0; display: none" [@start] *ngIf="trueButtonVisible" class="centered-sign">
    check_circle_outline
  </mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0; display: none; color: darkred" [@start] *ngIf="falseButtonVisible" class="centered-sign">
    highlight_off
  </mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0" [@start] *ngIf="count == 1" class="centered-sign">looks_one</mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0" [@start] *ngIf="count == 2" class="centered-sign">looks_two</mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0" [@start] *ngIf="count == 3" class="centered-sign">looks_3</mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0" [@start] *ngIf="count == 4" class="centered-sign">looks_4</mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0" [@start] *ngIf="count == 5" class="centered-sign">looks_5</mat-icon>
</div>

