<app-navigation></app-navigation>
<div class="login-page">
  <mat-card>
    <div class="mat-headline">Вход на сайт</div>
    <div class="mat-subheading-2">Ещё не зарегистрированы? - <a routerLink="/reg">Регистрация</a></div>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <div>
          <div class="justify-content-center">
            <div></div>
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput
                     formControlName="username">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Пароль</mat-label>
              <input #input matInput [type]="hide ? 'password' : 'text'"
                     formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div id="controls" class="row">
            <button style="width: 20%" [disabled]="loginForm.invalid || (updateData$ | async)" (click)="submit()" mat-flat-button
                    color="primary">Вход</button>
            <a routerLink="/recovery" style="margin: auto 20px;">Забыли пароль?</a>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>
