.centered-window {
  text-align: center;
  /*max-width: 800px;*/
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tile-main {
  width: 100%;
  height: max(5vh, min(17vh, 14.333vw));
  display: inline-grid;
  align-content: center;
  background-color: aliceblue;
  margin-bottom: 15px;
}

.tile {
  width: 49%;
  display: inline-grid;
  align-content: center;
  height: max(5vh, min(17vh, 14.333vw));
  background-color: lightblue;
  border: none;
  vertical-align: bottom;
}

.left-tile {
  margin-right: 2%;
}

.top-tile {
  margin-bottom: 16px;
}

.centered-sign {
  display: inline;
  font-size: max(1em, min(14em, 18.333vw));
  color: darkgreen;

  cursor: pointer;
}

.english-word {
  margin: 0px;
  font-size: max(1em, min(10em, 5.333vw));
  line-height: 1.3;
}

.russian-word {
  margin: 0px;
  font-size: max(1em, min(4em, 4.333vw));
  line-height: 1.1;
}

a {
  color: rgba(0,0,0,.87);
}

button {
  color: rgba(0,0,0,.87);
  cursor: pointer
}

button:disabled {
  cursor: auto;
}

@media screen and (max-width: 425px) and (orientation: portrait){
  .tile-main {
    width: 100%;
    height: max(5vh, min(17vh, 16.333vw));
    display: inline-grid;
    align-content: center;
    background-color: aliceblue;
    margin-bottom: 15px;
  }

  .tile {
    width: 100%;
    display: inline-grid;
    align-content: center;
    height: max(5vh, min(17vh, 16.333vw));
    background-color: lightblue;
    margin-bottom: 16px;
    border: none;
    vertical-align: bottom;
  }

  .left-tile {
    margin-right: 0%;
  }

  .top-tile {
    margin-bottom: 16px;
  }
}
