<div class="centered-window">
  <div class="mat-headline">Режим "Freeplay"</div>
  <mat-card>
    <div class="tile-main">
      <p class="english-word">{{englishWord}}</p>
    </div>
    <button class="tile left-tile top-tile" (click)="check(1)" [disabled]="playButtonVisible || countButtonVisible">
      <p class="russian-word">{{russianWord[1]}}</p>
    </button>
    <button class="tile top-tile" (click)="check(2)" [disabled]="playButtonVisible || countButtonVisible">
      <p class="russian-word">{{russianWord[2]}}</p>
    </button>
    <button class="tile left-tile" (click)="check(3)" [disabled]="playButtonVisible || countButtonVisible">
      <p class="russian-word">{{russianWord[3]}}</p>
    </button>
    <button class="tile" (click)="check(4)" [disabled]="playButtonVisible || countButtonVisible">
      <p class="russian-word">{{russianWord[4]}}</p>
    </button>
  </mat-card>
  <div class="mat-headline" style="margin-top: 16px">Время: {{counter}} | Баллы: {{thisPagePoints}}</div>
</div>
<div class="centered-window">
  <mat-icon *ngIf="playButtonVisible" class="centered-sign" (click)="countDown()">play_circle_outline</mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0; display: none" [@start] *ngIf="trueButtonVisible" class="centered-sign">
    check_circle_outline
  </mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0; display: none; color: darkred" [@start] *ngIf="falseButtonVisible" class="centered-sign">
    highlight_off
  </mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0" [@start] *ngIf="count == 1" class="centered-sign">looks_one</mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0" [@start] *ngIf="count == 2" class="centered-sign">looks_two</mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0" [@start] *ngIf="count == 3" class="centered-sign">looks_3</mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0" [@start] *ngIf="count == 4" class="centered-sign">looks_4</mat-icon>
</div>
<div class="centered-window">
  <mat-icon style="opacity: 0" [@start] *ngIf="count == 5" class="centered-sign">looks_5</mat-icon>
</div>

