<div class="centered-window">
  <mat-card>
    <div class="mat-headline">Набрали баллов: {{points}}</div>
    <button mat-raised-button color="primary"
            class="main-button" [routerLink]="['/main/remember']">Повторить!
    </button>
    <div class="mat-headline" style="margin-top: 16px">Осталось попыток: {{dailyAttempts}}</div>
    <mat-divider inset></mat-divider>
    <div class="mat-headline" style="margin-top: 16px">Лучшие результаты:</div>
    <div>
      <mat-list style="display: inline-block">
        <mat-list-item>1) 19.02.2022: 1755 баллов</mat-list-item>
        <mat-divider inset></mat-divider>
        <mat-list-item>2) 19.02.2022: 1755 баллов</mat-list-item>
        <mat-divider inset></mat-divider>
        <mat-list-item>3) 19.02.2022: 1755 баллов</mat-list-item>
        <mat-divider inset></mat-divider>
        <mat-list-item>4) 19.02.2022: 1755 баллов</mat-list-item>
        <mat-divider inset></mat-divider>
        <mat-list-item>5) 19.02.2022: 1755 баллов</mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>


