<mat-toolbar color="primary" style="background-color: lightblue">
<!--  <span routerLink="/main" style="cursor: pointer;margin-left: 20px;">Учим английские слова</span>-->

  <span class="spacer"></span>

</mat-toolbar>
