<app-navigation></app-navigation>
<div class="login-page">
  <mat-card>
    <div class="mat-headline">Пароль изменён!</div>
    <div class="mat-subheading-2">Новый пароль для входа отправлен на вашу почту</div>
  </mat-card>
</div>
<app-footer></app-footer>
