<app-navigation></app-navigation>
<div class="register-page">
  <mat-card>
    <div class="mat-headline">Восстановление пароля</div>
    <div class="mat-subheading-2">Вспомнили пароль? - <a routerLink="/login">Вход на сайт</a></div>
    <form [formGroup]="registerForm">
      <div class="justify-content-center">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput
                 formControlName="email">
        </mat-form-field>
      </div>

      <button [disabled]="registerForm.invalid || (updateData$ | async)" (click)="submit()" mat-flat-button color="primary">
        Восстановить пароль
      </button>

    </form>
  </mat-card>
</div>
<app-footer></app-footer>
