<div class="centered-window">
  <mat-card>
    <div class="mat-headline">Описание игры</div>
    <p style="text-align: left">Данная игра представляет собой онлайн-тренажёр для изучения английских слов и оценки
      уровня своих знаний. Тренажёр одинаково хорошо подходит как для взрослых, так и для детей.</p>
    <p style="text-align: left">Играть можно в двух режимах: "Обучение" и "Freeplay". Каждый из этих режимов по-своему
      интересен.</p>
    <div class="mat-headline">Режим "Обучение"</div>
    <p style="text-align: left">Режим "Обучение" предназначен для новичков и людей, желающих подтянуть свои знания
      анлийского языка. Данный режим разбит на два этапа: запоминание и проверка.</p>
    <p style="text-align: left">Для запоминания слов вам даётся 60 секунд. Вы можете сами определять, сколько времени
      вам нужно для запоминания каждого слова.</p>
    <p style="text-align: left">Затем, на этапе проверки, вам нужно выбрать правильный перевод для каждого из
      запомненных слов из 4-х предложенных вариантов. Для этого вам также даётся 60 секунд. Порядок
      слов на этапе проверки определяется случайным образом (слова идут вразнобой).</p>
    <div class="mat-headline">Режим "Freeplay"</div>
    <p style="text-align: left">Режим "Freeplay" предназначен для игроков, которые уже знают многие слова анлийского
      языка,
      и хотят проверить свои силы в переводе случайных слов (без предварительного обучения).</p>
    <div class="mat-headline">Система баллов</div>
    <p style="text-align: left">За каждый правильный ответ игроку начисляются баллы. Количество баллов зависит от
      скорости
      ответа (чем быстрее - тем больше). За неправильные ответы баллы не начисляются.</p>
    <p style="text-align: left">После каждой попытки (в любом из режимов) набранное количество баллов сравнивается с
      вашими
      предыдущими результатами. Лучшие результаты заносятся в таблицу ваших личных рекордов (5 лучших результатов).</p>
    <p style="text-align: left">Таблицы рекордов для режимов "Обучение" и "Freeplay" ведутся раздельно.</p>
    <div class="mat-headline">Система уровней</div>
    <p style="text-align: left">Если вам удалось обновить свой рекорд, то вы получаете следующий уровень. Каждый новый
      уровень достигается сложнее предыущего, поэтому вы можете гордиться каждым своим новым достижением.</p>
    <p style="text-align: left">Система уровней для режимов "Обучение" и "Freeplay" также ведётся раздельно.</p>
    <div class="mat-headline">Количество попыток</div>
    <p style="text-align: left">Обучение построено таким образом, чтобы не перегружать учеников слишком утомительными и
      продолжительными тренировками. В каждом режиме вам даётся по 5 ежедневных попыток. На прохождение ежедневной
      тренировки
      уходит
      всего лишь около 10-15 минут.</p>
    <p style="text-align: left">Но тренироваться нужно каждый день! Это главный залог успеха!</p>
  </mat-card>
</div>
