<div class="centered-window">
  <div class="mat-display-1" style="margin-bottom: 0">Онлайн-тренажёр</div>
  <div class="mat-headline" style="margin-bottom: 2%">"Учим английские слова"</div>
  <div class="mat-headline">Выберите режим игры:</div>
  <mat-card>
    <a [routerLink]="['/main/remember']" style="text-decoration: none" class="tile top-tile">
      <div style="display: flex; margin: auto">
        <p class="russian-word">Режим "Обучение"</p>
        <mat-icon class="russian-word"><p>arrow_forward_ios</p></mat-icon>
      </div>
    </a>
    <a [routerLink]="['/main/game']" style="text-decoration: none" class="tile">
      <div style="display: flex; margin: auto">
        <p class="russian-word">Режим "Freeplay"</p>
        <mat-icon class="russian-word"><p>arrow_forward_ios</p></mat-icon>
      </div>
    </a>
  </mat-card>
</div>

