<div class="centered-window">
  <mat-card>
    <div class="tile-main">
      <p class="english-word">Запомнено слов: {{rememberedWords.length}}</p>
    </div>
    <a [routerLink]="['/main/check']" style="text-decoration: none" class="tile">
      <div style="display: flex; margin: auto">
        <p class="russian-word">Перейти к проверке</p>
        <mat-icon class="russian-word"><p>arrow_forward_ios</p></mat-icon>
      </div>
    </a>
  </mat-card>
</div>

