<app-navigation></app-navigation>
<div class="register-page">
  <mat-card>
    <div class="mat-headline">Регистрация</div>
    <div class="mat-subheading-2">Уже зарегистрированы? - <a routerLink="/login">Вход на сайт</a></div>
    <form [formGroup]="registerForm">
      <div class="justify-content-center">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </div>

      <button [disabled]="registerForm.invalid || (updateData$ | async)" (click)="submit()" mat-flat-button color="primary">
        Регистрация
      </button>

    </form>
  </mat-card>
</div>
<app-footer></app-footer>
