.centered-window {
  text-align: center;
  /*max-width: 800px;*/
  /*min-width: 290px;*/
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-button {
  zoom: 2;
  max-width: 100%;
  /*font-size: max(0.7em, min(1em, 2.333vw));*/
}
